@import url('https://db.onlinewebfonts.com/c/83a7d547ff8d0e5cdecd27ac7c30bdc8?family=Boing');

*{
	padding: 0;
	margin: 0;
}

html{
	background-color: #0D0073;
	color: white;
	font-family: 'Boing';
	scroll-behavior: smooth;
	max-width: 100%;
}

.reduc{
	background-color: rgb(255, 0, 110);
	text-align: center;
	align-items: center;
	height: 80px;
	font-size: 1.3rem;
}
.reduc p{
	padding-top: 25px;
}
.allNav{
	display: flex;
	position: relative;
	justify-content: space-between;
	margin: 14px;
	padding: 10px;
	margin-left: 80px;
	margin-right: 80px;
	font-size: 1.125rem;
}
.navItemZone{
	display: flex;
	justify-content: space-evenly;
}
.logo{
	padding-top: 15px;
	font-size: 2rem;
	font-weight: bold;
}

ul{
	display: flex;
	text-decoration: none;
	list-style: none;
}
li{
	padding: 30px;
}
.gift{
	color: #FF006E;
}
.mark{
	padding: 3px;
	width: 388px;
	margin-top: 50px;
	margin-left: 1px;
	background-color: white;
	position: absolute;
	writing-mode: horizontal-tb;
	transform-origin: top;
}
.member{
	background-color: #6054BA;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 10px;
	height: 20px;
	border-radius: 3rem;
}
.member > div{
	display: flex;
}
.member > div p{
	padding-left: 5px;
	margin-top: 4px;
}
.welcome{
	margin-top: 100px;
	font-size: 110px;
	text-align: center;
	justify-content: center;
}
.price{
	margin-top: 30px;
	font-size: 110px;
	text-align: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
	display: flex;
}
.choose{
	margin-top: 30px;
	text-align: center;
	justify-content: center;
	font-size: 1.3rem;
	display: flex;
}
.choose a{
	text-decoration: none;
	color: white;
	background:#FF3089;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 3rem;
	box-shadow: 0 10px 50px rgba(0, 0, 0,0.3);
}
.nine{
	font-size: 60px;
}
/*images positionning*/

.img1{
	position: absolute;
	width: 450px;
	height: 450px;
	margin-top: 60px;
	left: -85px;
}
.img2{
	position: absolute;
	width: 450px;
	height: 450px;
	margin-top: 60px;
}
.img3{
	position: absolute;
	width: 450px;
	height: 450px;
	right: -90px;
	margin-top: 30px;
}
.img4{
	position: absolute;
	width: 450px;
	height: 450px;
	right: -50px;
	margin-top: 60px;
}

.separator{
	margin: 0 auto;
	text-align: center;
	margin-top: 230px;
}
.Title{
	font-size: 160px;
	line-height: 149px;
	margin-top: 60px;
	text-align: center;
}
.advantages{
	position: relative;
	justify-content: space-around;
	width: 75vw;
	margin-top: 20vh;
	align-items: center;
	margin-left: 17vw;
}
.advantagesElements, .ad{
	display: flex;
	margin-top: 15vh;
}
.advantagesElements img{
	height: 392px;
	width: 392px;
	margin-right: 4vw;
	margin-left: 8vw;
	margin-top: 3vw;

}
.ad img{
	height: 392px;
	width: 392px;
	margin-right: 1vw;
	margin-top: 3vw;
}
.number{
	font-size: 90px;
	line-height: 109px;
}
.description{
	font-size: 60px;
	line-height: 62px;
	padding-top: 30px;
}
.content{
	font-weight: normal;
	font-size: 29px;
	line-height: 29px;
	padding-top: 30px;
}
.avis{
	text-align: center;
}
.avis span{
	font-size: 36px;
	line-height: 42px;
}